<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sergiojosemp.obddashboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_obd8"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_obd8"
        android:supportsRtl="true"
        android:theme="@style/MaterialComponents">
        <activity android:name="com.sergiojosemp.obddashboard.activity.StartMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.sergiojosemp.obddashboard.activity.DiscoveryActivity" />
        <activity android:name="com.sergiojosemp.obddashboard.activity.DiscoverActivity" />

        <activity android:name="com.sergiojosemp.obddashboard.activity.ConnectActivity" />
        <activity
            android:name="com.sergiojosemp.obddashboard.activity.MenuActivity" />
        <activity
            android:name="com.sergiojosemp.obddashboard.activity.MenuActivityKT" />
        <activity android:name="com.sergiojosemp.obddashboard.activity.DashboardActivity" />

        <service
            android:name="com.sergiojosemp.obddashboard.service.ObdService"
            android:exported="false"
            android:enabled="true"
            android:launchMode="singleInstance" />

        <service
            android:name="com.sergiojosemp.obddashboard.service.OBDKotlinCoroutinesTesting"
            android:exported="false"
            android:enabled="true"
            android:launchMode="singleInstance" />

        <activity android:name="com.sergiojosemp.obddashboard.activity.SettingsActivity">
            <intent-filter>
                <action android:name=".Preferences" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>


        <activity android:name="com.sergiojosemp.obddashboard.activity.ChartActivity">
        </activity>

        <activity android:name="com.sergiojosemp.obddashboard.activity.VerboseActivity">
        </activity>

        <activity android:name="com.sergiojosemp.obddashboard.activity.DiagnosticTroubleCodeActivity">
        </activity>

        <activity android:name="com.sergiojosemp.obddashboard.github.vassiliev.androidfilebrowser.FileBrowserActivity">
        </activity>


    </application>





    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


</manifest>